*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}

.header__form-title{
    margin-right: 1rem;
}
.header__form-input, .sentence__input{
    border: none;
    border-bottom: 1.5px solid #cecece ;
}
.header__form-input:hover, .header__form-input:focus ,.sentence__input:hover, .sentence__input:focus{
    outline: none;
}

.content .row .sentence{
    display: flex;
    margin-top: 5px;
}
.sentence__title{
    text-align: right;
}
.sentence__input{
    margin-left: 1.5rem;
}