*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
a{
    text-decoration: none;
}

.btn:focus{
    color: red;
}
.btn:hover{
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
    color: red !important;
}
.header__form-title{
    margin-right: 1rem;
}
.header__form-input, .sentence__input{
    border: none;
    border-bottom: 1.5px solid #cecece ;
}
.header__form-input:hover, .header__form-input:focus ,.sentence__input:hover, .sentence__input:focus{
    outline: none;
}

.content .row .sentence{
    display: flex;
    margin-top: 5px;
}
.sentence__title{
    text-align: right;

}
.sentence__input{
    margin-left: 1.5rem;
    position: relative;
}

.sentence__title::after{
    background-color: black;
}




/* Media queries */


@media screen and (max-width: 992px) {
    *{
        font-size: 12px;
    }
}

@media screen and (max-width: 769px){
    .content *{
        font-size: 10px;
        
    }
    .sentence__input{
        margin-left: 0.5rem;
    }
}

@media screen and (max-width: 601px){
    .content *{
        font-size: 10px;
        
    }
    .sentence__input{
        margin-left: 0.05rem;
    }
}


/* .sentence__input:focus body{
    background-color: black;
} */
/* .sentence__input:focus .sentence__title:after{
    width: 0;
    height: 1.5px;
    position: absolute;
    border-bottom: orange;
    animation: widthUpTo100 1s linear;
} */



@keyframes widthUpTo100{
    from {width: 0;}
    to {width: 100%;}
  }